*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(39, 38, 38);
    color: rgb(18, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .calc {
    background-color: rgb(74, 74, 74);
    padding: 20px;
    border-radius: 10px;
    padding: px;
  }
  
  .calc form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    text-align: center;
    color: #fff;
    background-color: rgb(100, 100, 100);
    margin: 5px;
  }
  
  
  .calc form input:hover {
    cursor: pointer;
    background-color: rgb(120, 120, 120);
  }
  
  .calc form input:active {
    background-color: rgb(80, 80, 80);
  }
  
  .calc form input:focus {
    box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.3);
  }
  
  form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
  }
  
  form .display input {
    text-align: right;
    flex: 1;
    font-size: 43px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    color: #fff;
  }

  form input.equal{
    width: 140px;
  }
  
  
  